    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h3>NOMBRE: {{familiar_nuevo1.nombre}} 
        <br>NACIMIENTO: {{familiar_nuevo1.nacimiento}}</br>
        DNI: {{familiar_nuevo1.documento}}</h3>

        <h3>NOMBRE: {{familiar_nuevo2.nombre}}
        <br>NACIMIENTO: {{familiar_nuevo2.nacimiento}}</br>
        DNI: {{familiar_nuevo2.documento}}</h3>

        <h3>NOMBRE: {{familiar_nuevo3.nombre}}
        <br>NACIMIENTO: {{familiar_nuevo3.nacimiento}}</br>
        DNI: {{familiar_nuevo3.documento}}</h3>


    </html> 
</body>
</html>